 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 382px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 39px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 24px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 267px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  height: 132px;
  width: 496px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 267px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-weight: normal;
  margin: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-style: italic;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -78px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 86px;
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 220px;
  }

  .u-section-1 .u-image-1 {
    height: 125px;
    width: 470px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 220px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 235px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -155px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 163px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 169px;
  }

  .u-section-1 .u-image-1 {
    height: 96px;
    width: 360px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 125px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 254px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 153px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 321px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 27px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 160px;
  }

  .u-section-1 .u-image-1 {
    height: 91px;
    width: 340px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 134px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }
}